__pycache__/data_chandler_05.cpython-312.pyc
__pycache__/denormalize.cpython-312.pyc
__pycache__/tunnel_with_subdomains.cpython-312.pyc
__pycache__/wrapper4.cpython-312.pyc
exported_data/testrun_0/data_as_blocks.h5
exported_data/testrun_0/data_diag_preco.h5
exported_data/testrun_0/data_elastic.h5
exported_data/testrun_0/data_full.h5
exported_data/testrun_0/data_rhs.h5
exported_data/testrun_0/data_sol.h5
exported_data/testrun_0/data_triang_preco.h5
exported_data/testrun_1/data_as_blocks.h5
exported_data/testrun_1/data_diag_preco.h5
exported_data/testrun_1/data_elastic.h5
exported_data/testrun_1/data_full.h5
exported_data/testrun_1/data_rhs.h5
exported_data/testrun_1/data_sol.h5
exported_data/testrun_1/data_triang_preco.h5
exported_data/testrun_10/data_as_blocks.h5
exported_data/testrun_10/data_diag_preco.h5
exported_data/testrun_10/data_elastic.h5
exported_data/testrun_10/data_full.h5
exported_data/testrun_10/data_rhs.h5
exported_data/testrun_10/data_sol.h5
exported_data/testrun_10/data_triang_preco.h5
exported_data/testrun_11/data_as_blocks.h5
exported_data/testrun_11/data_diag_preco.h5
exported_data/testrun_11/data_elastic.h5
exported_data/testrun_11/data_full.h5
exported_data/testrun_11/data_rhs.h5
exported_data/testrun_11/data_sol.h5
exported_data/testrun_11/data_triang_preco.h5
exported_data/testrun_12/data_as_blocks.h5
exported_data/testrun_12/data_diag_preco.h5
exported_data/testrun_12/data_elastic.h5
exported_data/testrun_12/data_full.h5
exported_data/testrun_12/data_rhs.h5
exported_data/testrun_12/data_sol.h5
exported_data/testrun_12/data_triang_preco.h5
exported_data/testrun_13/data_as_blocks.h5
exported_data/testrun_13/data_diag_preco.h5
exported_data/testrun_13/data_elastic.h5
exported_data/testrun_13/data_full.h5
exported_data/testrun_13/data_rhs.h5
exported_data/testrun_13/data_sol.h5
exported_data/testrun_13/data_triang_preco.h5
exported_data/testrun_14/data_as_blocks.h5
exported_data/testrun_14/data_diag_preco.h5
exported_data/testrun_14/data_elastic.h5
exported_data/testrun_14/data_full.h5
exported_data/testrun_14/data_rhs.h5
exported_data/testrun_14/data_sol.h5
exported_data/testrun_14/data_triang_preco.h5
exported_data/testrun_15/data_as_blocks.h5
exported_data/testrun_15/data_diag_preco.h5
exported_data/testrun_15/data_elastic.h5
exported_data/testrun_15/data_full.h5
exported_data/testrun_15/data_rhs.h5
exported_data/testrun_15/data_sol.h5
exported_data/testrun_15/data_triang_preco.h5
exported_data/testrun_16/data_as_blocks.h5
exported_data/testrun_16/data_diag_preco.h5
exported_data/testrun_16/data_elastic.h5
exported_data/testrun_16/data_full.h5
exported_data/testrun_16/data_rhs.h5
exported_data/testrun_16/data_sol.h5
exported_data/testrun_16/data_triang_preco.h5
exported_data/testrun_17/data_as_blocks.h5
exported_data/testrun_17/data_diag_preco.h5
exported_data/testrun_17/data_elastic.h5
exported_data/testrun_17/data_full.h5
exported_data/testrun_17/data_rhs.h5
exported_data/testrun_17/data_sol.h5
exported_data/testrun_17/data_triang_preco.h5
exported_data/testrun_18/data_as_blocks.h5
exported_data/testrun_18/data_diag_preco.h5
exported_data/testrun_18/data_elastic.h5
exported_data/testrun_18/data_full.h5
exported_data/testrun_18/data_rhs.h5
exported_data/testrun_18/data_sol.h5
exported_data/testrun_18/data_triang_preco.h5
exported_data/testrun_19/data_as_blocks.h5
exported_data/testrun_19/data_diag_preco.h5
exported_data/testrun_19/data_elastic.h5
exported_data/testrun_19/data_full.h5
exported_data/testrun_19/data_rhs.h5
exported_data/testrun_19/data_sol.h5
exported_data/testrun_19/data_triang_preco.h5
exported_data/testrun_2/data_as_blocks.h5
exported_data/testrun_2/data_diag_preco.h5
exported_data/testrun_2/data_elastic.h5
exported_data/testrun_2/data_full.h5
exported_data/testrun_2/data_rhs.h5
exported_data/testrun_2/data_sol.h5
exported_data/testrun_2/data_triang_preco.h5
exported_data/testrun_3/data_as_blocks.h5
exported_data/testrun_3/data_diag_preco.h5
exported_data/testrun_3/data_elastic.h5
exported_data/testrun_3/data_full.h5
exported_data/testrun_3/data_rhs.h5
exported_data/testrun_3/data_sol.h5
exported_data/testrun_3/data_triang_preco.h5
exported_data/testrun_4/data_as_blocks.h5
exported_data/testrun_4/data_diag_preco.h5
exported_data/testrun_4/data_elastic.h5
exported_data/testrun_4/data_full.h5
exported_data/testrun_4/data_rhs.h5
exported_data/testrun_4/data_sol.h5
exported_data/testrun_4/data_triang_preco.h5
exported_data/testrun_5/data_as_blocks.h5
exported_data/testrun_5/data_diag_preco.h5
exported_data/testrun_5/data_elastic.h5
exported_data/testrun_5/data_full.h5
exported_data/testrun_5/data_rhs.h5
exported_data/testrun_5/data_sol.h5
exported_data/testrun_5/data_triang_preco.h5
exported_data/testrun_6/data_as_blocks.h5
exported_data/testrun_6/data_diag_preco.h5
exported_data/testrun_6/data_elastic.h5
exported_data/testrun_6/data_full.h5
exported_data/testrun_6/data_rhs.h5
exported_data/testrun_6/data_sol.h5
exported_data/testrun_6/data_triang_preco.h5
exported_data/testrun_7/data_as_blocks.h5
exported_data/testrun_7/data_diag_preco.h5
exported_data/testrun_7/data_elastic.h5
exported_data/testrun_7/data_full.h5
exported_data/testrun_7/data_rhs.h5
exported_data/testrun_7/data_sol.h5
exported_data/testrun_7/data_triang_preco.h5
exported_data/testrun_8/data_as_blocks.h5
exported_data/testrun_8/data_diag_preco.h5
exported_data/testrun_8/data_elastic.h5
exported_data/testrun_8/data_full.h5
exported_data/testrun_8/data_rhs.h5
exported_data/testrun_8/data_sol.h5
exported_data/testrun_8/data_triang_preco.h5
exported_data/testrun_9/data_as_blocks.h5
exported_data/testrun_9/data_diag_preco.h5
exported_data/testrun_9/data_elastic.h5
exported_data/testrun_9/data_full.h5
exported_data/testrun_9/data_rhs.h5
exported_data/testrun_9/data_sol.h5
exported_data/testrun_9/data_triang_preco.h5
__pycache__/extract_matrices.cpython-312.pyc
__pycache__/iterative_solvers.cpython-312.pyc
__pycache__/operators.cpython-312.pyc
exported_data_scaled/testrun_0/data_as_blocks.h5
exported_data_scaled/testrun_0/data_diag_preco.h5
exported_data_scaled/testrun_0/data_elastic.h5
exported_data_scaled/testrun_0/data_full.h5
exported_data_scaled/testrun_0/data_rhs.h5
exported_data_scaled/testrun_0/data_sol.h5
exported_data_scaled/testrun_0/data_triang_preco.h5
exported_data_scaled/testrun_1/data_as_blocks.h5
exported_data_scaled/testrun_1/data_diag_preco.h5
exported_data_scaled/testrun_1/data_elastic.h5
exported_data_scaled/testrun_1/data_full.h5
exported_data_scaled/testrun_1/data_rhs.h5
exported_data_scaled/testrun_1/data_sol.h5
exported_data_scaled/testrun_1/data_triang_preco.h5
exported_data_scaled/testrun_10/data_as_blocks.h5
exported_data_scaled/testrun_10/data_diag_preco.h5
exported_data_scaled/testrun_10/data_elastic.h5
exported_data_scaled/testrun_10/data_full.h5
exported_data_scaled/testrun_10/data_rhs.h5
exported_data_scaled/testrun_10/data_sol.h5
exported_data_scaled/testrun_10/data_triang_preco.h5
exported_data_scaled/testrun_11/data_as_blocks.h5
exported_data_scaled/testrun_11/data_diag_preco.h5
exported_data_scaled/testrun_11/data_elastic.h5
exported_data_scaled/testrun_11/data_full.h5
exported_data_scaled/testrun_11/data_rhs.h5
exported_data_scaled/testrun_11/data_sol.h5
exported_data_scaled/testrun_11/data_triang_preco.h5
exported_data_scaled/testrun_12/data_as_blocks.h5
exported_data_scaled/testrun_12/data_diag_preco.h5
exported_data_scaled/testrun_12/data_elastic.h5
exported_data_scaled/testrun_12/data_full.h5
exported_data_scaled/testrun_12/data_rhs.h5
exported_data_scaled/testrun_12/data_sol.h5
exported_data_scaled/testrun_12/data_triang_preco.h5
exported_data_scaled/testrun_13/data_as_blocks.h5
exported_data_scaled/testrun_13/data_diag_preco.h5
exported_data_scaled/testrun_13/data_elastic.h5
exported_data_scaled/testrun_13/data_full.h5
exported_data_scaled/testrun_13/data_rhs.h5
exported_data_scaled/testrun_13/data_sol.h5
exported_data_scaled/testrun_13/data_triang_preco.h5
exported_data_scaled/testrun_14/data_as_blocks.h5
exported_data_scaled/testrun_14/data_diag_preco.h5
exported_data_scaled/testrun_14/data_elastic.h5
exported_data_scaled/testrun_14/data_full.h5
exported_data_scaled/testrun_14/data_rhs.h5
exported_data_scaled/testrun_14/data_sol.h5
exported_data_scaled/testrun_14/data_triang_preco.h5
exported_data_scaled/testrun_15/data_as_blocks.h5
exported_data_scaled/testrun_15/data_diag_preco.h5
exported_data_scaled/testrun_15/data_elastic.h5
exported_data_scaled/testrun_15/data_full.h5
exported_data_scaled/testrun_15/data_rhs.h5
exported_data_scaled/testrun_15/data_sol.h5
exported_data_scaled/testrun_15/data_triang_preco.h5
exported_data_scaled/testrun_16/data_as_blocks.h5
exported_data_scaled/testrun_16/data_diag_preco.h5
exported_data_scaled/testrun_16/data_elastic.h5
exported_data_scaled/testrun_16/data_full.h5
exported_data_scaled/testrun_16/data_rhs.h5
exported_data_scaled/testrun_16/data_sol.h5
exported_data_scaled/testrun_16/data_triang_preco.h5
exported_data_scaled/testrun_17/data_as_blocks.h5
exported_data_scaled/testrun_17/data_diag_preco.h5
exported_data_scaled/testrun_17/data_elastic.h5
exported_data_scaled/testrun_17/data_full.h5
exported_data_scaled/testrun_17/data_rhs.h5
exported_data_scaled/testrun_17/data_sol.h5
exported_data_scaled/testrun_17/data_triang_preco.h5
exported_data_scaled/testrun_18/data_as_blocks.h5
exported_data_scaled/testrun_18/data_diag_preco.h5
exported_data_scaled/testrun_18/data_elastic.h5
exported_data_scaled/testrun_18/data_full.h5
exported_data_scaled/testrun_18/data_rhs.h5
exported_data_scaled/testrun_18/data_sol.h5
exported_data_scaled/testrun_18/data_triang_preco.h5
exported_data_scaled/testrun_19/data_as_blocks.h5
exported_data_scaled/testrun_19/data_diag_preco.h5
exported_data_scaled/testrun_19/data_elastic.h5
exported_data_scaled/testrun_19/data_full.h5
exported_data_scaled/testrun_19/data_rhs.h5
exported_data_scaled/testrun_19/data_sol.h5
exported_data_scaled/testrun_19/data_triang_preco.h5
exported_data_scaled/testrun_2/data_as_blocks.h5
exported_data_scaled/testrun_2/data_diag_preco.h5
exported_data_scaled/testrun_2/data_elastic.h5
exported_data_scaled/testrun_2/data_full.h5
exported_data_scaled/testrun_2/data_rhs.h5
exported_data_scaled/testrun_2/data_sol.h5
exported_data_scaled/testrun_2/data_triang_preco.h5
exported_data_scaled/testrun_3/data_as_blocks.h5
exported_data_scaled/testrun_3/data_diag_preco.h5
exported_data_scaled/testrun_3/data_elastic.h5
exported_data_scaled/testrun_3/data_full.h5
exported_data_scaled/testrun_3/data_rhs.h5
exported_data_scaled/testrun_3/data_sol.h5
exported_data_scaled/testrun_3/data_triang_preco.h5
exported_data_scaled/testrun_4/data_as_blocks.h5
exported_data_scaled/testrun_4/data_diag_preco.h5
exported_data_scaled/testrun_4/data_elastic.h5
exported_data_scaled/testrun_4/data_full.h5
exported_data_scaled/testrun_4/data_rhs.h5
exported_data_scaled/testrun_4/data_sol.h5
exported_data_scaled/testrun_4/data_triang_preco.h5
exported_data_scaled/testrun_5/data_as_blocks.h5
exported_data_scaled/testrun_5/data_diag_preco.h5
exported_data_scaled/testrun_5/data_elastic.h5
exported_data_scaled/testrun_5/data_full.h5
exported_data_scaled/testrun_5/data_rhs.h5
exported_data_scaled/testrun_5/data_sol.h5
exported_data_scaled/testrun_5/data_triang_preco.h5
exported_data_scaled/testrun_6/data_as_blocks.h5
exported_data_scaled/testrun_6/data_diag_preco.h5
exported_data_scaled/testrun_6/data_elastic.h5
exported_data_scaled/testrun_6/data_full.h5
exported_data_scaled/testrun_6/data_rhs.h5
exported_data_scaled/testrun_6/data_sol.h5
exported_data_scaled/testrun_6/data_triang_preco.h5
exported_data_scaled/testrun_7/data_as_blocks.h5
exported_data_scaled/testrun_7/data_diag_preco.h5
exported_data_scaled/testrun_7/data_elastic.h5
exported_data_scaled/testrun_7/data_full.h5
exported_data_scaled/testrun_7/data_rhs.h5
exported_data_scaled/testrun_7/data_sol.h5
exported_data_scaled/testrun_7/data_triang_preco.h5
exported_data_scaled/testrun_8/data_as_blocks.h5
exported_data_scaled/testrun_8/data_diag_preco.h5
exported_data_scaled/testrun_8/data_elastic.h5
exported_data_scaled/testrun_8/data_full.h5
exported_data_scaled/testrun_8/data_rhs.h5
exported_data_scaled/testrun_8/data_sol.h5
exported_data_scaled/testrun_8/data_triang_preco.h5
exported_data_scaled/testrun_9/data_as_blocks.h5
exported_data_scaled/testrun_9/data_diag_preco.h5
exported_data_scaled/testrun_9/data_elastic.h5
exported_data_scaled/testrun_9/data_full.h5
exported_data_scaled/testrun_9/data_rhs.h5
exported_data_scaled/testrun_9/data_sol.h5
exported_data_scaled/testrun_9/data_triang_preco.h5
__pycache__/test_helper_functions.cpython-312.pyc
